<!DOCTYPE html>
<html lang="en">
<%= erb :'partials/_head' %>



<body>

<%= erb :'partials/_chart_kick_tags' %>

<%= erb :'partials/_top_menu' %>


<div class="container-fluid">
  <div class="row">
    <%= erb :'partials/_left_menu' %>


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Historic View</h1>
      <p class="date-selector"><a href="/test-projects/<%=@summary[:current_job]%>/detailed_view?sortby=day">Day</a>|<a href="/test-projects/<%=@summary[:current_job]%>/detailed_view?sortby=week">Week</a>|<a href="/test-projects/<%=@summary[:current_job]%>/detailed_view?sortby=month">Month</a></p>
      <div class="row placeholders">




        <div class="col-md-12 col-sm-3 placeholder">
          <%= column_chart @total_scenarios, colors: ["blue"], height: "500px"  %>
          <h4>Total Scenarios</h4>
          <span class="text-muted">Total Scenarios Over Time</span>
        </div>



      </div>

      <div class="row placeholders">




        <div class="col-md-12 col-sm-3 placeholder">
          <%= line_chart @pass_percentage, height: "500px" ,colors: ["green", "#999"], max:101 %>
          <h4>Failure Rate %</h4>
          <span class="text-muted">Pass Rate % Over Time</span>
        </div>



      </div>


      <div class="row placeholders">




        <div class="col-md-12 col-sm-3 placeholder">
          <%= column_chart @total_manual, colors: ["#FF8000"], height: "500px"  %>
          <h4>Total Manual Tests</h4>
          <span class="text-muted">Total Manual Tests</span>
        </div>



      </div>

      </div>






    </div>
  </div>



</div>


<%= erb :'partials/_bootstrap_tags' %>

</body>


</html>