<!DOCTYPE html>
<html lang="en">
<%= erb :'partials/_head' %>

<body>

<%= erb :'partials/_chart_kick_tags' %>
<%= erb :'partials/_top_menu' %>


<div class="container-fluid">
  <div class="row">
    <%= erb :'partials/_left_menu' %>


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>

      <div class="row placeholders">
        <div class="col-md-4 col-sm-3 placeholder">
          <a href= "/test-projects/<%=@summary[:current_job]%>/detailed_view?sortby=day"> <%= pie_chart [["Pass", @summary[:status_summary]['passed']], ["Fail",  @summary[:status_summary]['failed']]], colors: ["green", "red"] %> </a>
          <h4>Results</h4>
          <span class="text-muted">Latest Build Results</span>
        </div>



        <div class="col-md-4 col-sm-3 placeholder">
          <a href= "/test-projects/<%=@summary[:current_job]%>/detailed_view?sortby=day"> <%= column_chart @summary[:total_steps_grouped_by_date], colors: ["blue"] %> </a>
          <h4>Total Scenarios</h4>
          <span class="text-muted">Total Scenarios in Test Run</span>
        </div>

        <div class="col-md-4 col-sm-3 placeholder">
          <a href= "/test-projects/<%=@summary[:current_job]%>/detailed_view?sortby=day"> <%= bar_chart [["Total Acceptance Tests", @tag_groups.to_h[regression_tag]], ["Number Automated", @summary[:total_scenarios_in_run]    ], ["Total Manual", @summary[:total_manual_scenarios]    ]], colors: ["purple", "red"] %> </a>
          <h4>Total Scenarios / Automated Scenarios</h4>
          <span class="text-muted">Total Scenarios Breakdown></span>
        </div>
      </div>

      <h2 class="sub-header">Test Team</h2>


      <h4>Failed Tests</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Scenario</th>
            <th>Date Of Last Failure</th>
            <th>Count</th>
          </tr>


          </thead>
          <tbody>
          <% @summary[:failures].each do |key, value| %>
              <tr>
                <td><%= key %></td>
                <td><%= value['last_failed_date'] %></td>
                <td><%= value['failure_count'] %></td>


          <% end %>

          </tbody>
        </table>
      </div>




    </div>
  </div>



</div>


<%= erb :'partials/_bootstrap_tags' %>

</body>


</html>